{# home.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Liste de nos activités
{% endblock %}

{% block content %}
	<h1>Hello
		{{ name }}!</h1>
	{{ parent() }}
	<a href="products.php">Voir la liste des produits</a>
{% endblock %}

